.catalog > h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    margin-top: 70px;
      
}

.catalog .options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
  
.catalog .dogs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    place-items: center;
    margin-bottom: 10px;
}
  
.catalog .dogs-container > section {
    width: 200px;
}
  
.dog-section.present:hover, .dog-section.absent:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 7px blue;
}
  
.dog-section.present, .dog-section.absent {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
  
.dog-card-info-container {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 6px;
}
  
.dog-section.present {
    box-shadow: 1px 1px 7px green;
}
  
.dog-section.absent {
    box-shadow: 1px 1px 7px red;
}
  
.dog-card-info-container p {
    margin: 6px 0;
}
  
.dog-img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
    margin-bottom: 6px;
}

@media (max-width: 1050px) {
  .catalog .dogs-container {
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media (max-width: 768px) {
  .catalog .dogs-container {
    grid-template-columns: repeat(2 ,1fr);     
  }

  .catalog .options {
    flex-direction: column; 
    align-items: center; 
  }

  .catalog .options .option {
    margin-right: 0; 
    margin-bottom: 0px; 
  }
}

@media (max-width: 450px) {
  .catalog .dogs-container > section {
    width: 35vw;
  }

  .catalog .options {
    flex-direction: column; 
    align-items: center; 
  }

  .catalog .options .option {
    margin-right: 0; 
    margin-bottom: 0px; 
  }
}