.welcome {
    position:absolute;
    top: 10vw;
    left: 0;
    width:100vw;
    height: 80vh;
  }
  
  .welcome .dog-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center top;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, white 50%);
    mask-image: linear-gradient(to bottom, transparent 0%, white 50%);
    background-clip: content-box;
  }
  
  .welcome .button-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }